<p id="notice"><%= notice %></p>

<h1>Calls</h1>

<table>
  <thead>
    <tr>
      <th>Caller</th>
      <th>Status</th>
      <th>Callid</th>
      <th>Call duration</th>
      <th>Recording duration</th>
      <th>Recording url</th>
      <th>Selection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.caller %></td>
        <td><%= call.status %></td>
        <td><%= call.callid %></td>
        <td><%= call.call_duration %></td>
        <td><%= call.recording_duration %></td>
        <td><%= call.recording_url %></td>
        <td><%= call.selection %></td>
        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call', new_call_path %>
